/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

/* Desktop Style */
header{
    border: #cc7512 2px solid;
    margin: 20px 50px;
    padding: 10px;

}

body {
    font-family: "Audiowide", sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
}

h1 {
    font-family: "Jersey 10", cursive;
    font-size: 3em;
    color: #cc7512;
    font-weight: normal;
    font-size: 64px;
}

h2{
    margin-bottom: 10px;
}

a {
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    color: #cc7512;
    text-decoration: none;
    display: block;
    height: 20px;
    width: 50px;
    text-align: center;
}

span a{
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    color: #cc7512;
    text-decoration: none;
    display: block;
    height: 20px;
    width: 100px;
    text-align: center;;
}

a:hover {
    background-color: #000000;
}

figure img{
    display: block;
    width: 500px;
    height: auto;
    margin: 40px auto;
}

/* Tablet Style */
@media (max-width: 768px) {

    header{
        margin: 10px 180px;
        padding: 5px;
    }

    h1{
        font-size: 38px;
    }

    h2{
        font-size: 22px;
    }

    a {
        font-size: 16px;
        width: 40px;
        height: 16px;
    }

    span a{
        font-size: 16px;
        width: 80px;
        height: 16px;
    }

    p {
        font-size: 20px;
    }

    figure img{
        width: 340px;
        height: auto;
        margin-top: 10px;
    }
}

/* Mobile Style */
@media (max-width: 375px) {

    header{
        margin: 10px 80px;
        padding: 5px;
    }

    h1 {
        font-size: 25px;
    }

    h2{
        font-size: 12px;
        margin-bottom: 0px;
    }

    p {
        font-size: 10px;
    }
    section img {
        width: 190px;
        height: auto;
    }

        a {
        font-size: 10px;
        width: 25px;
        height: 10px;
    }

    span a{
        font-size: 10px;
        width: 45px;
        height: 10px;
    }
}

